#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

&msc {
        x-input-code = <INPUT_REL_HWHEEL>; // 横スクロールの定義
        y-input-code = <INPUT_REL_WHEEL>;  // 縦スクロールの定義
        time-to-max-speed-ms = <100>;      // 100〜300くらいが快適です
        acceleration-exponent = <1>;       // 0だと等速、1以上だと加速がつきます
};

/ {
    combos {
        compatible = "zmk,combos";
        // 例: JとKを同時押しでEnter
        combo_enter {
            timeout-ms = <50>;
            key-positions = <31 32>; // 物理キーのインデックスを指定
            bindings = <&kp ENTER>;
        };
    };

    behaviors {
        // 横スクロール
            scroll_left_right: behavior_sensor_rotate_mouse_wheel_left_right {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
            tap-ms = <20>;
            };
    };


    keymap {
        compatible = "zmk,keymap";

        // レイヤー0: 基本レイヤー
        default_layer {
            bindings = <
                           &kp N1     &kp N2    &kp N3     &kp N4    &kp N5                                  &kp N6    &kp N7   &kp N8    &kp N9    &kp N0
                &kp ESC    &kp Q      &kp W     &kp E      &kp R     &kp T     &kp BSPC          &kp COMMA   &kp Y     &kp U    &kp I     &kp O     &kp P     &kp BSPC
                &kp TAB    &kp A      &kp S     &kp D      &kp F     &kp G     &kp ENTER         &kp DOT     &kp H     &kp J    &kp K     &kp L     &kp UP    &kp ENTER
                &kp CAPS   &kp BSLH   &kp Z     &kp X      &kp C     &kp V     &kp ENTER                     &kp B     &kp N    &kp M     &kp LEFT  &kp DOWN  &kp RIGHT
                                                &kp LSHFT  &kp LCTRL &kp LALT  &lt 1 SPACE       &lt 2 INT5  &kp LGUI  &kp DEL  &kp MINUS
                &kp UP    &kp LEFT  &kp DOWN   &kp RIGHT  &kp ENTER
            >;
            sensor-bindings = <&scroll_left_right>;
        };

        // レイヤー1: Upper
        upper_layer {
            bindings = <
                        &none      &none        &none        &none        &none                            &none   &none   &none     &none      &none
                &trans  &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &trans      &none   &none   &none   &kp AT    &kp LBKT   &kp RBKT  &trans
                &trans  &none      &none        &none        &none        &none        &trans      &none   &none   &none   &kp SEMI  &kp COLON  &trans    &trans
                &trans  &trans     &none        &none        &none        &none        &trans              &none   &none   &none     &trans     &trans    &trans
                                                &trans       &trans       &trans       &trans      &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_up_down>;
        };

        // レイヤー2: Lower
        lower_layer {
            bindings = <
                        &none      &none        &none        &none        &none                            &none     &none     &none     &none     &none
                &trans  &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &trans    &none     &trans    &trans    &none     &none     &none     &trans
                &trans  &none      &none        &none        &none        &none        &trans    &none     &trans    &trans    &none     &none     &none     &trans
                &trans  &trans     &none        &none        &none        &none        &trans              &trans    &trans    &none     &none     &none     &trans
                                                &trans       &trans       &trans       &trans    &trans    &trans    &trans    &trans
            >;
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
        };
    };
};
