&kscan0 {
    /* 既存のrow-gpiosはそのまま */
    /* col-gpios が定義されていない場合は以下のように追加してください */
    col-gpios
        = <&gpio0 6  GPIO_ACTIVE_LOW>
        , <&gpio0 8  GPIO_ACTIVE_LOW>
        , <&gpio1 15 GPIO_ACTIVE_LOW>
        , <&gpio1 13 GPIO_ACTIVE_LOW>
        , <&gpio1 11 GPIO_ACTIVE_LOW>
        , <&gpio0 10 GPIO_ACTIVE_LOW>
        , <&gpio0 9  GPIO_ACTIVE_LOW>;
};

/* matrix-transform も5行目まで使えるように修正 */
&default_transform {
    columns = <7>; /* 列数に合わせて適宜変更してください */
    rows = <6>;
    map = <
        /* ... 既存の定義 ... */
        RC(5,0) RC(5,1) RC(5,2) RC(5,3) RC(5,4)
    >;
};
