#include "apollosp5.dtsi"

&default_transform {
    col-offset = <7>;
};

&kscan0 {
    col-gpios
        = <&gpio0 6  GPIO_ACTIVE_LOW>
        , <&gpio0 8  GPIO_ACTIVE_LOW>
        , <&gpio1 15 GPIO_ACTIVE_LOW>
        , <&gpio1 13 GPIO_ACTIVE_LOW>
        , <&gpio1 11 GPIO_ACTIVE_LOW>
        , <&gpio0 10 GPIO_ACTIVE_LOW>
        , <&gpio0 9  GPIO_ACTIVE_LOW>;
};

/* 1. エンコーダーの物理定義 */
// / {
//     encoder: encoder {
//         compatible = "alps,ec11";
//         a-gpios = <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
//         b-gpios = <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
//         steps = <80>;
//         status = "okay"; // ここで直接 okay にします
//     };

    /* 2. センサーとして ZMK に認識させる定義 */
//     sensors: sensors {
//         compatible = "zmk,keymap-sensors";
//         sensors = <&encoder>;
//         triggers-per-rotation = <20>;
//     };
// };
